<% schools.each do |school| %>
  <div class="index-school-total">
    <div class="index-school-block">

      <div class="index-school-name-block">
        <h1 class="index-school-name"> <%= link_to school.name, school_path(school) %> </h1>
      </div>

      <div class="index-buttons">

        <%= link_to("Edit", edit_school_path(school), class: "button-primary") %>

        <%= link_to "Delete", school_path(school), class: "button-primary", method: :delete, data: {confirm: "Deleting the School will delete all Teachers, Students, and Users too. Are you sure you want to continue?"} %>

      </div>

    </div>

    <div class="index-teacher-block-total">
      <% school.teachers.each do |teacher| %>
      <div class="index-teacher-student-block">
        <h2 class="index-teacher-name"> <%= link_to teacher.name, teacher %>
        <% teacher.students.order(:name).each do |student| %>
        <h3 class="index-student-name"> <%= link_to student.name, student %>

        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% end %>
