  <% teachers.each do |teacher| %>

    <div class="school-edit-delete"> <%= school.name %>
       <%= link_to("Edit", edit_school_path(school), class: "button-primary") %>

       <%= link_to "Delete", school_path(school, class: "cutton-primary delete-school"), method: :delete, data: {confirm: "Are you sure?"} %>
     </div>

    <div class="teacher-student-block">

    <h2 class="teacher-name"> <%= link_to teacher.name, teacher %>

      <% teacher.students.each do |student| %>

      <h3 class="student-name"> <%= link_to student.name, student %>

      <% end %>
    </div>

    <% end %>
