<div class="show-teacher-total">
  <div class="show-teacher-name-block">


    <h1 class="show-teacher-name"><%= teacher.school.name %></h1>
    <h2 class="show-teacher-name"><%= teacher.name %></h2>

    <div class="show-student-name-block">
      <% teacher.students.order(:name).each do |student| %>
        <h3 class="show-student-name"><%= link_to student.name, student %>

    <div class="button-set">
      <%= link_to ("Delete", student_path, class: "button-primary") method: :delete, data: {confirm: "Are you sure?"} %>

      <%= link_to("Edit", edit_student_path, class: "button-primary") %>

    </div>
      <% end %>
    </div>

  </div>

  <%= link_to ("Back", school_path, class: "button-primary") %>

</div>
